{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>New Post</h1>
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!-- Load ckeditor -->
        {{ ckeditor.load() }}
        
        <!-- WTForm의 어떤 필드가 CKEditor가 되어야하는지 구성 -->
        {{ ckeditor.config(name='body') }}

        <!-- Add quickform -->
        {{ wtf.quick_form(form) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}