{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.img_url}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              <a href="#">{{post.author.name}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.body|safe }}
          <hr>
            <!-- user.id가 1(admin)일 때, edit_post 버튼 생성 -->
            {% if current_user.id ==1 %}
            <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
            </div>
            {% endif %}


          <!--Comments Area -->
          <!-- Load ckeditor -->
          {{ ckeditor.load() }}
          <!-- WTForm의 어떤 필드가 CKEditor가 되어야하는지 구성 -->
          {{ ckeditor.config(name='comment_text') }}
          <!-- Add quickform -->
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

          <div class="col-lg-8 col-md-10 mx-auto comment">
            <!-- comment list 출력 (모든 댓글 출력) -->
              {% for comment in post.comments %}
              <ul class="commentList">
                <li>
                    <div class="commenterImage">
                      <!-- 댓글을 작성자 이미지 추가를 위해 gravatar 사용 -->
                      <img src="{{ comment.comment_author.email | gravatar }}"/>
                    </div>
                    <div class="commentText">
                      <!-- 댓글 출력 -->
                      <p>{{ comment.text|safe }}</p>
                      <!-- 댓글 작성자 이름 출력 -->
                      <span class="date sub-text">{{ comment.comment_author.name }}</span>
                    </div>
                </li>
              </ul>
              {% endfor %}
            </div>


          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}
{% endblock %}