body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

h1 {
    color: #A2C579;
    font-size: 562.6%;   /* 16px = 100 % = 1m, 참고: %와 em은 상속이 가능함 */
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #A2C579;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}


h3 {
    color: #016A70;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #016A70;
}

.top-container {
    background-color: #FFFFDD;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.python {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.nodejs {
    width: 15%;
    float: right;
    margin-left: 30px;
}

.data {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}